body {
    --code-normal: wheat;
    --bold-color: salmon;
    --italic-color: goldenrod;
    --blockquote-background-color: midnightblue;
    --tag-color: lightseagreen;
}
/* cssclasses: readme */
.readme.markdown-source-view.mod-cm7 .cm-table-widget .table-cell-wrapper { margin: 0; padding: 0; }
.readme.markdown-source-view.mod-cm6 .cm-table-widget th, .markdown-source-view.mod-cm6 .cm-table-widget td { min-width: 0.1rem; padding: 0 0rem; margin: 0; }

/* Base elements 
div.internal-embed img:not([width]) { max-height: 30rem; border: 2px solid var(--text-normal); margin: 0; padding: 0;}
img { max-height: 10em;}
img:not([width]) {max-height: 5rem;}
.MJX-TEX { line-height: 0.8rem; color: palegoldenrod; font-size: 1.3rem; padding: 0.5rem 0.5rem; } !important
*/

/* Headers */
.HyperMD-header-1::before {content: 'H1 '; font-size: 0.8rem;}
.HyperMD-header-2::before {content: 'H2 '; font-size: 0.7rem;}
.HyperMD-header-3::before {content: 'H3 '; font-size: 0.7rem;}
.HyperMD-header-4::before {content: 'H4 '; font-size: 0.7rem;}
.HyperMD-header-5::before {content: 'H5 '; font-size: 0.7rem;}
.HyperMD-header-6::before {content: 'H6 '; font-size: 0.7rem;}

/* tables */
.markdown-preview-view table, .markdown-source-view.mod-cm6 table { border: 1px solid wheat; }
.markdown-source-view.mod-cm6 .cm-table-widget .table-cell-wrapper { margin: 0rem 0.1rem; }